.about {
  padding-top: 80px;
  &__nav{
    margin-top: 30px;
    &-link{
      font-size: 1.125rem;
      font-weight: 600;
      color: var(--black);
      text-decoration: none;
      margin-right: 65px;
      transition: color .5s;
      &:hover {
        color: var(--blue);
      }
      &_active{
        color: var(--blue);
      }
    }
  }
  &__tab{
    display: none;
    &_active{
      display: block;
    }
  }
}