.footer {
  background: var(--gray-blue);
  padding: 60px 0 50px 0;
  &__content{
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  &__company {
    font-size: 1rem;
    font-weight: 600;
    color: var(--dark-gray);
    margin-top: 30px;
    text-align: left;
    width: 50%;
  }
  
  &__middle{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 120px;
    &-link{
      font-size: 1rem;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: 2%;
      color: var(--black);
      text-decoration: none;
      transition: color .5s;
      &:hover {
        color: var(--blue);
      }
    }
  }
  &__confidentiality{
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--dark-gray);
    text-decoration: none;
    margin-top: 100px;
  }
  &__right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__phone{
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.5rem;
    color: var(--black);
    text-decoration: none;
  }
  &__email{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    color: var(--black);
    text-decoration: none;
  }
  &__address{
    font-size: 1rem;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 2px;
    color: var(--dark-gray);
    text-align: right;
    margin-top: 30px;
  }
  &__executor{
    font-size: .875rem;
    font-weight: 600;
    color: var(--dark-gray);
    margin-top: 40px;
    & a{
      margin-left: 10px;
    }
  }
}