.header {
    background: var(--gray-blue);
    padding: 20px 0;
    position: relative;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__nav {
        &-link {
            font-size: 1rem;
            font-weight: 600;
            letter-spacing: 2%;
            color: var(--black);
            text-decoration: none;
            margin-right: 40px;
            transition: color 0.5s;

            &:hover {
                color: var(--blue);
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__call {
        display: flex;
        flex-direction: column;
    }

    &__phone {
        display: flex;
        align-items: center;
        font-size: 1.125rem;
        font-weight: 700;
        color: var(--black);
        text-decoration: none;

        & span {
            margin-left: 10px;
        }
    }


}