.menu {
    &__content {
        display: flex;
        margin-left: auto;
    }

    &__icon {
        display: block;
        width: 30px;
        height: 14px;
        position: relative;
        cursor: pointer;

        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            background: var(--black);
            position: absolute;
            top: 0;
            left: 0;
            transition: all .3s;
        }

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            background: var(--black);
            position: absolute;
            bottom: 0;
            left: 0;
            transition: all .3s;
        }
    }

    &__popup {
        width: 100%;
        position: absolute;
        left: 0;
        top: -6px;
        transform: scale(0);
        opacity: 0;
        transition: all .5s;
        z-index: 999999;
        &.visible {
            opacity: 1;
            transform: scale(1);
        }
    }

    &__left {
        width: 100%;
        background: url(../assets/icons/bg-crosses.svg) top right no-repeat, url(../assets/icons/bg-crosses.svg) top 60% right no-repeat, var(--white-bg);
        padding: 1.875rem 8.75rem 2.5rem 5.625rem;
        display: flex;
        justify-content: flex-end;

        &-content {
            max-width: 38.75rem;
        }
    }

    &__links {
        display: flex;
        align-items: flex-start;
        margin-top: 120px;
    }

    &__sections {
        &-item {
            display: block;
            font-size: 3.125rem;
            font-weight: 700;
            letter-spacing: 2%;
            color: var(--black);
            text-decoration: none;
            margin-top: 27px;

            &:first-child {
                margin-top: 0;
            }

            &:hover {
                color: var(--blue);
            }
        }
    }

    &__tabs {
        margin-left: 5.625rem;

        &-item {
            display: block;
            font-size: 2rem;
            font-weight: 500;
            color: var(--black);
            text-decoration: none;
            margin-top: 0.75rem;

            &:hover {
                color: var(--blue);
            }
        }
    }

    &__right {
        width: 100%;
        background: url('../assets/icons/bg-cross-white.svg'), var(--blue);

        padding: 2.1875rem 5.625rem 2.75rem 12.3125rem;
        &-content{
          max-width: 600px;
        }
        &-top {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
        }
    }

    &__call {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 3.25rem;
    }

    &__phone {
        font-size: 1.125rem;
        font-weight: 700;
        color: var(--white-bg);
        text-decoration: none;
        margin-left: 0.625rem;
    }

    &__close {
        cursor: pointer;
    }

    &__contacts {
        margin-top: 6.6875rem;
    }

    &__label {
        font-size: 0.75rem;
        font-weight: 600;
        color: var(--white-bg);
        opacity: 0.7;
        margin-bottom: 6.6875rem;
    }

    &__address {
        & address {
            font-size: 2rem;
            font-style: normal;
            font-weight: 500;
            color: var(--white-bg);
        }
    }

    &__feedback {
        margin-top: 3.125rem;

        &-phone {
            display: block;
            font-size: 2rem;
            font-weight: 500;
            color: var(--white-bg);
            text-decoration: none;
        }

        &-email {
            display: block;
            font-size: 2rem;
            font-weight: 500;
            color: var(--white-bg);
            text-decoration: none;
            margin-top: 10px;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 7.6875rem;
    }

    &__social {

        display: flex;
        align-items: center;
        justify-content: center;
        width: 44.25px;
        height: 44.25px;
        border-radius: 100%;
        transition: all .5s;
        &:hover {
            background: var(--white-bg);

            & path {
                stroke: var(--blue);
            }
        }

    }

}