.title {
    font-weight: 700;

    &_h1 {
        font-size: 3.125rem;
        letter-spacing: 2%;
        color: var(--black);
    }
    &_h2{
      font-size: 2.375rem;
      font-weight: 700;
      color: var(--black);
    }
    &_h3{
      font-size: 2rem;
      font-weight: 700;
      color: var(--bg);
    }
    &_h4{
      font-size: 1.5rem;
      font-weight: 700;
      color: var(--bg);
    }
    &_menu {
        font-size: 3.125rem;
        font-weight: 700;
        letter-spacing: 2%;
        color: var(--black);
        margin-bottom: 35px;
    }
}